.main{
    flex : 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    padding: 20px;
    color: #683b98;
    
}
.main .nav img{
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 40%;
    animation: pulse 2s ease-in-out infinite;
}
.main-container{
    max-width: 900px;
    margin: auto;
}
.main .greet{
    margin: 50px 0;
    font-size: 50px;
    font-weight: 700;
    color : #8b94a8;
    padding: 20px;
    animation: bounceIn 2s ease-out;
        animation-delay: 2s;
}

.main .greet span{
    background: -webkit-linear-gradient(180deg, #3b5998, #a077c7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.main .cards
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* cards will be responsive (horizontal) */
    gap: 15px;
    justify-content: space-between;
}
.main .card{
    background-color: #f0f2f5;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
}
.main .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    background: -webkit-linear-gradient(180deg, #a1aeca, #e8d5fa);
    
    
}

.main .card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    
}
.main .card p{
    font-size: 20px;
    font-weight: 700;
    color: #3b5998;
    margin-top: 20px;
        animation: bounceIn 2s ease-out;
        animation-delay: 2s;

}
.main-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f2f5;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    gap: 10px;
    border-radius: 50px;
    
}
.search-box input{
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    flex: 1;
    background: transparent ;
}
.search-box img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.search-box img:hover{
    transform: rotate(360deg);
    transition: all 0.3s;

}
.main .bottom-info{
    text-align: center;
    font-weight: 300;
    margin: 15px auto;
    color: #8b94a8;

}
.result{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f2f5;
    border-radius: 20px;
    margin-top: 20px;
    overflow: scroll;
    max-height: 70vh;

}
.result::-webkit-scrollbar{
    display: none;

}
.result-title{
    font-size: 20px;
    align-items: center;
    color: #653b98;
    gap: 10px;
    display: flex;
}
.result img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
}
.result-data{
    display: flex;
    gap: 15px;
    align-self: start;
    justify-content: space-between;
}
.result-data p{
    font-size: 20px;
    color: #797e88;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.loader {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #3b5998;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    animation: sk-bounce 2.0s infinite ease-in-out, color-change 2s infinite;
}

.double-bounce2 {
    animation-delay: -1.0s;
}

@keyframes sk-bounce {
    0%, 100% { transform: scale(0.0) }
    50% { transform: scale(1.0) }
}

@keyframes color-change {
    0% { background-color: #3b5998; }
    50% { background-color: #f0f2f5; }
    100% { background-color: #3b5998; }
}
@keyframes pulsate {
    0% { opacity: 0.1; }
    50% { opacity: 1.0; }
    100% { opacity: 0.1; }
}
.result-data p{
    font-size: 20px;
    color: #797e88;
    line-height: 1.5;
    
}
@media (max-width:600px)
{
    .main .nav{
        font-size: 20px;
    }
    .main .greet{
        font-size: 30px;
    }
    .main .card p{
        font-size: 15px;
    }
    .main .card img{
        width: 40px;
        height: 40px;
    }
    .main .nav img{
        width: 70px;
        height: 70px;
    }
    .main .bottom-info{
        font-size: 15px;
    }
    .main .result-title{
        font-size: 15px;
    }
    .result img{
        width: 40px;
        height: 40px;
    }
    .result-data p{
        font-size: 15px;
    }
    .search-box img{
        width: 20px;
        height: 20px;
    }
    .search-box input{
        font-size: 15px;
    }

}
@keyframes bounceIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  

  
  
  
  
 